---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Presentation from "../components/Presentation.astro";
import Project from "../components/Project.astro";
import About from "../components/About.astro";
import Skill from "../components/Skill.astro";
import '../styles/index.css'

import { getEntry } from "astro:content";

const { data: dataSkills } = await getEntry("skills", "skills");
const { tegnologias } = dataSkills;

const { data: dataProjects } = await getEntry("projects", "projects");
const { proyectos } = dataProjects;
---

<Layout
  titulo="Portatolfio"
  descripcion="Portafolio con informacion relevante sobre mi"
>
  <header>
    <Nav />
  </header>

  <main class="flex flex-col gap-20 mt-8">
    
    <section class="flex flex-row gap-60 m-auto">
      <Presentation />
    </section>

    <section class="flex flex-col gap-8 items-center">
      <h2 class="text-2xl font-bold  font-PermanentMarker">Proyectos</h2>
      <div class="flex gap-6">

  
    {
        proyectos.map((proyecto) => (
          <Project
            proyecto={proyecto.proyecto}
            imagen={proyecto.imagen}
            descripcion={proyecto.descripcion}
            tegnologias={proyecto.tegnologias}
          />
        ))
      }
        </div>
    </section>
<section class="flex flex-col items-center m-auto gap-5  ">
  <h2 class="text-2xl font-bold  font-PermanentMarker">Sobre mi</h2>
  <About />
</section>
   
    <section class="flex flex-col items-center m-auto">
      <h2 class="text-2xl font-bold font-PermanentMarker">Tegnologias</h2>
     <div class="flex justify-center flex-wrap">
      {
        tegnologias.map((skill) => (
          <Skill
            name={skill.skill}
            alt={skill.image.alt}
            src={skill.image.src}
          />
        ))
      }
     </div>
    </section>
  </main>
</Layout>
