---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Presentation from "../components/Presentation.astro";
import Project from "../components/Project.astro";
import About from "../components/About.astro";
import Skill from "../components/Skill.astro";
import "../styles/index.css";
import { getEntry } from "astro:content";
import MenuResponsive from "../components/MenuResponsive.astro";
import Titulos from "../components/Titulos.astro";

const { data: dataSkills } = await getEntry("skills", "skills");
const { tegnologias } = dataSkills;

const { data: dataProjects } = await getEntry("projects", "projects");
const { proyectos } = dataProjects;
---

<Layout
  titulo="Portafolio"
  descripcion="Portafolio con información relevante sobre mi"
>
<!--  ------------------------------- navegacion -------------------------------  -->
  <header>
    <Nav />
    <MenuResponsive />
  </header>
  <div class="divider before:bg-primary after:bg-primary m-auto w-3/4"></div>
  <!---------------------------------- princiapl ------------------------------- -->
  <main class="flex flex-col gap-20 mt-28">
   <!-- ------------------------------ presentacion ------------------------------  -->
    <section
      id="presentation"
      class="flex flex-col md:m-auto lg:m-2 lg:gap-48 lg:flex-row gap-24 animate-fade-down relative xl:m-2 xl:justify-center"
    >
      <Presentation />
    </section>
<!--  -------------------------------- proyectos -------------------------------  -->
    <section
      id="projects"
      class="flex flex-col relative gap-8 items-center mt-20 md:mt-16 animate-fade-down lg:mt-28"
    >
      <Titulos titulo="Proyectos" className="w-40" />
      <img
        id="projectSvg"
        class="absolute -top-4 ml-56 w-24 h-24 sm:w-28 sn:h-28 sm:ml-1 sm:right-44 sm:self-end sm:-top-6"
        src="../public/projects-completed-dark.svg"
        alt="proyectos"
      />
      <div
        class="flex flex-col md:justify-center md:flex-row gap-8 m-auto md:gap-6 md:flex-wrap 2xl:gap-24"
      >
        {
          proyectos.map((proyecto) => (
            <Project
              proyecto={proyecto.proyecto}
              imagen={proyecto.imagen}
              repositorio={proyecto.repositorio}
              web={proyecto.web}
              descripcion={proyecto.descripcion}
              tegnologias={proyecto.tegnologias}
            />
          ))
        }
      </div>
    </section>
<!--  -------------------------------- sobre mi --------------------------------  -->
    <section
      id="about"
      class="flex flex-col items-center m-auto gap-5 animate-fade-down"
    >
      <Titulos titulo="Sobre mi" className="w-36" />
      <About />
    </section>
<!--  ------------------------------- habilidades ------------------------------  -->
    <section
      id="skills"
      class="flex flex-col gap-8 items-center md:m-auto animate-fade-down"
    >
      <Titulos titulo="Tegnologias" className="w-48" />

      <div
        class="flex w-full flex-col sm:flex-wrap sm:w-auto sm:flex-row sm:justify-center gap-8"
      >
        {
          tegnologias.map((skill) => (
            <Skill
              name={skill.skill}
              alt={skill.image.alt}
              src={skill.image.src}
            />
          ))
        }
      </div>
      <img
        id="skillSvg"
        class="self-end w-28 h-28 sm:self-start sm:-translate-y-20 2xl:-translate-y-0 2xl:-translate-x-24"
        src="../../public/skills-dark.svg"
        alt="generando skill"
      />
    </section>
  </main>
</Layout>
