---
interface Props {
  proyecto: string;
  repositorio: string;
  web: string;
  descripcion: string;
  imagen: { alt: string; src: string };
  tegnologias: { alt: string; src: string }[];
}

import catalogo from "../assets/proyecto-catalogo-peliculas.jpg";
import escuela from "../assets/proyecto-escuela.jpeg";
import wimander from "../assets/proyecto-wimander.jpeg";
import { Image } from "astro:assets";

const { proyecto, descripcion, repositorio, web, imagen, tegnologias } =
  Astro.props;
---

<div
  class="card card-style w-96  max-w-xs sm:max-w-none "
>
  <figure class="relative group">
    <!-- determinar que proyecto corresponde las imagenes -->
    {
      imagen.src == "wimander" && (
        <Image
          src={wimander}
          alt={imagen.alt}
          class={"h-52  md:h-72 w-full group-hover:brightness-50  duration-100"}
        />
      )
    }
    {
      imagen.src == "catalogo" && (
        <Image
          src={catalogo}
          alt={imagen.alt}
          class={"h-52  md:h-72 w-full group-hover:brightness-50  duration-100"}
        />
      )
    }
    {
      imagen.src == "escuela" && (
        <Image
          src={escuela}
          alt={imagen.alt}
          class={"h-52  md:h-72 w-full group-hover:brightness-50  duration-100"}
        />
      )
    }
    <!-- Enlances del proyecto -->
    <div
      class="absolute invisible group-hover:visible group-hover:animate-fade-down group-hover:animate-duration-500 flex gap-8"
    >
      <a class="" target="_blank" href={repositorio}>
        <img
          class="w-10 b"
          src=`${import.meta.env.BASE_URL}assets/github-white.svg`
          alt="icono github"
          loading="lazy"
        /></a
      >
      <a class="" target="_blank" href={web}
        ><img class="w-10" src=`${import.meta.env.BASE_URL}assets/url.svg` alt="icono enlace" /></a
      >
    </div>
  </figure>
  <!-- descripcion del proyecto -->
  <div class="card-body">
    <h2 class="card-title dark:text-slate-300">{proyecto}</h2>
    <p class="dark:text-slate-300">{descripcion}</p>
    <div class="flex flex-col gap-5 justify-start mt-8">
      <!-- tegnologias usadas -->
      <h3 class="text-lg font-bold dark:text-slate-300">
        Tecnologías empleadas
      </h3>

      <div class="card-actions">
        {
          tegnologias.map((tegnologia) => (
            <img src={import.meta.env.BASE_URL + tegnologia.src} alt={tegnologia.alt} />
          ))
        }
      </div>
    </div>
  </div>
</div>
